@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Libre+Baskerville&family=Merriweather:ital@1&family=Mukta&family=Oswald&family=Poppins:wght@100;400&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.carousel-inner {
    background-color: black;


}

.custom-button {

    background-color: #289BDE;
    height: 56px;
    width: 182px;
    border-radius: 5px;
    padding: 13px, 33px, 13px, 33px;
    border: 1px solid #289BDE;
    color: aliceblue;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;





}

h1 {

    font-size: 2rem;

}

.top-p {
    font-size: 25px;
}

/* Students Feedback */
.positio-absolute {
    margin-left: 120px;
    margin-bottom: 24px;
}

.positio-relative {
    margin-top: 20px;
    margin-right: 15px;
}

.img-footer {

    height: 69px;
    width: -2px
}



@media only screen and (max-width: 768px) {
    .img-footer {

        margin: auto;
        margin-top: auto;
        display: none;
    }
}

@media only screen and (min-width: 275px) and (max-width:900px) {
    .img-footer {
        display: none;
    }

}